.error{
    color: red;
}
.success{
    color: #21a117;
}
html.csstransitions.csstransforms3d.animations.sidebar.no-touch:not(.animations-gpu) #content{
    min-height: 88vh;
}
.btn-user-save{
    height: 40px;
    margin-top: 20px;
}
.btn-submit{
    clear: both;
    float: left;
    margin-top: 20px;
}
.alert_book a{
    background-color: red;
    color: #fff;
}
.alert_book a:hover{
    background-color: red;
    color: #fff;
}
.message-read{
    color: #7c7c7c;
}

span.img-verify{
    position: relative;
    float: left;
}

span.verify{
    background: url(img/verify.png) no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

span.unverify{
    background: url(img/unverify.png) no-repeat;
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}
